# Chap2.1

Exercise 2.1.1

In [2]:
# 1. 
3*2-8/4

4.0

In [3]:
# 2. 
25*6/3+17

67.0

In [4]:
# 3. 
39021-276920/12040

38998.0

In [5]:
# 4.
2**6-10%6

60

Exercise 2.1.2

In [6]:
# 1. 
12-(5*7+1)

-24

In [7]:
# 2. 
5*(8+(10-6)/2)

50.0

In [10]:
# 3.
48320-((365-5*9)/16)*987

28580.0

In [11]:
# 4.
((3**4-3*7)/5+4)**2

256.0

Exercise 2.1.3

In [13]:
# 1.
print(1!=2, 1<3, 3+4==7)

True True True

In [14]:
# 2. 
print(1==2, 1>3, 3+4!=7)

False False False

Exercise 2.1.4

In [16]:
# 1.
(5<=6)&(3==4)

False

In [17]:
# 2.
(2!=1)|(3>=4)

True

In [18]:
# 3.
(5<=6)&((0==0)&(3<4))

True

Exercise 2.1.5

In [19]:
# 1. 
x = 3
(2*x-1)**2+1

26

In [21]:
# 2.
x = 4; y = 4; z = 3
x**(2*y)*(z+10)

851968

In [24]:
# 3.
j = 45; k = -5; i = 43
((j==0)&(0<k))|(i<=100)

True

# Chap2.2

Exercise 2.2.1

In [25]:
# n1. 
5e8

500000000.0

In [26]:
# n2.
5.6e3

5600.0

In [27]:
# n3. 
-2.1e2

-210.0

In [28]:
# n4.
-3.4e-1

-0.34

Exercise 2.2.2

In [30]:
# n1. 3.141592 -> 3141592e-6
# n2. 2.718 -> 2718e-3
# n3. 1.4 -> 14e-1
# n4. 1.73 -> 173e-2

Exercise 2.2.3

In [32]:
#n1. 1234 -> 1*10^3+2*10^2+3*10^1+4*10^0
#n2. 1010 -> 1*10^3+1*10^1
#n3. 3.14 -> 3*10^0+1*10^-1+4*10^-2
#n4. 0.023 -> 2*10^-2+3*10-3

Exercise 2.2.4

In [35]:
#n1. 13 -> 1*2^3+1*2^2+1*2^0 
#n2. 129 -> 1*2^8+1*2^0
#n3. 0.8 -> 100(?)
#n4. 1.25 -> 1*2^0+1*2^-2

# Chap2.3

Exrcise 2.3.1

In [38]:
# n1.
Exercise_line = """
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Spars is better than dense.
"""
print(Exercise_line)

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Spars is better than dense.

In [42]:
# n2. 
x = '@'
y = 6
print(x*y)
print(x + " "*4 + x)
print(x + " "*4 + x)
print(x + " "*4 + x)
print(x*y)

@@@@@@
@    @
@    @
@    @
@@@@@@

Exercise 2.3.2

In [43]:
string = "2020-12-25"
string.replace("-", "")

'20201225'

# Chap2.4

Exercise 2.4.1

In [46]:
# n1.
name = "Tom"; age = 13
print("%s is %d years old" % (name, age))

Tom is 13 years old

In [47]:
#n2. 
a = 10; b = 3
print("%d / %d = %f" %(a, b, a/b))

10 / 3 = 3.333333

In [63]:
a = 3; b = 12
print("%7d \n x %4d \n ------ \n %6d" %(a,b, a*b))

      3
 x   12
 ------
     36

In [73]:
a = 123456; b = 7890
a_s = "123,456"; b_s = "7,890"; sum_s = "131,346"
print("%10s \n + %7s \n --------- \n %9s" %(a_s,b_s, sum_s))

   123,456
 +   7,890
 ---------
   131,346

# Chap2.5

Exercise 2.5.1

In [1]:
# n1. 
a = 2
if a % 2 == 0 :
    print("짝수")
else :
    print("홀수")

짝수

In [2]:
# n2.
b = 38

if (b >= 10) & (b < 100) & (b % 2 == 0):
    print("2자리 수의 짝수이다.")
else:
    print("2자리 수의 짝수가 아니다.")

2자리 수의 짝수이다.

Exercise 2.5.2

In [7]:
y = 1900
if y % 4 == 0 :
    if y % 100 == 0 :
        print("평년입니다")
        if y % 400 == 0 :
            print("윤년입니다.")
    else : 
        print("윤년입니다")
else :
    print("윤년이 아닙니다.")

평년입니다

Exercise 2.5.3

In [8]:
c = 9

if c >= 8:
    print("A")
elif c >= 5:
    print("B")
else:
    print("C")

A

Exercise 2.5.4

In [9]:
kg = 11

if kg > 10 :
    print("1등급")
elif kg > 7 : 
    print("2등급")
elif k > 4 :
    print("3등급")
else :
    print("4등급")

1등급

Exercise 2.5.5

In [13]:
XA = False ; XB = False
if XA == True :
    if XB == True : 
        YA = 5; YB = 5
    else :
        YA = 0; YB = 10 
else :
    if XB == True :
        YA = 10; YB = 0
    else : 
        YA = 1; YB = 1
        
print(YA, YB)

1 1

# Chap2.6

Exercise 2.6.1

In [14]:
#n1. 
a = 2
def even_odd(a) :
    if a % 2 == 0 :
        return "짝수"
    else :
        return "홀수"
even_odd(a)

'짝수'

In [15]:
y = 200
def year(y) :
    if y % 4 == 0 :
        if y % 100 == 0 :
            print("평년입니다")
            if y % 400 == 0 :
                print("윤년입니다.")
        else : 
            print("윤년입니다")
    else :
        print("윤년이 아닙니다.")
year(y)

평년입니다

Exercise 2.6.2

In [23]:
m = 11
def days1(m) :
    if m in [1,3,5,7,8,10,12] :
        return 31
    elif m in [4,6,9,11] :
        return 30
    else :
        return 28
days1(m)

30

Exercise 2.6.3

In [29]:
def days2(y, m) :
    if y % 4 == 0 :
        if y % 100 == 0 :
            if m in [1,3,5,7,8,10,12] :
                return 31
            elif m in [4,6,9,11] :
                return 30
            else :
                return 28
            if y % 400 == 0 :
                if m in [1,3,5,7,8,10,12] :
                    return 31
                elif m in [4,6,9,11] :
                    return 30
                else :
                    return 29
        else : 
                if m in [1,3,5,7,8,10,12] :
                    return 31
                elif m in [4,6,9,11] :
                    return 30
                else :
                    return 29
    else :
        if m in [1,3,5,7,8,10,12] :
            return 31
        elif m in [4,6,9,11] :
            return 30
        else :
            return 28
days2(2015, 1)

31

Exercise 2.6.4

In [30]:
def diffsum(a, b, c) :
    res = (a**2+b**2+c**2)-(a+b+c)
    return(res)
diffsum(1,2,3)

8

Exercise 2.6.5

In [32]:
m = 0
def diffsum(a, b, c) :
    global m
    res = (a**2+b**2+c**2)-(a+b+c)
    if res > m :
        m = res
    return(m)
diffsum(1,2,3)
m

8

# Chap2.7

Exercise 2.7.1

In [33]:
for i in range(10) :
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********

Exercise 2.7.2

In [34]:
for i in range(10) :
    print('*'*(10-i))

**********
*********
********
*******
******
*****
****
***
**
*

Exercise 2.7.3

In [52]:
for i in range(10) :
    print('*'*i)
    if i == 9 :
        for j in range(10) :
            print('*'*(10-j))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

Exercise 2.7.4

In [53]:
for i in range(6) :
    print(' '*(5-i) + '*'*(2*i+1) + ' '*(5-i))
    if i == 5 :
        for j in range(i+1) :
            print(' '*(j+1) + '*'*((2*i+1)-(2*j+2)) + ' '*(j+1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

Exercise 2.7.5

In [62]:
for i in range(2) :
    stock = 1024
    if (i == 0):
        gain1 = 2
    else : 
        gain1 = 0.5
    for j in range(2) :
        if (j == 0):
            gain2 = 2
        else :
            gain2 = 0.5
        for k in range(2) :
            if (k == 0):
                gain3 = 2
            else :
                gain3 = 0.5
            print(i, j, k, int(stock*gain1*gain2*gain3))

0 0 0 8192
0 0 1 2048
0 1 0 2048
0 1 1 512
1 0 0 2048
1 0 1 512
1 1 0 512
1 1 1 128

Exercise 2.7.6

In [65]:
n = 3
for a in range(1,10) :
    for b in range(1,10) :
        for c in range(1,10) : 
            print(a, b, c, a**n+b**n == c**n)

1 1 1 False
1 1 2 False
1 1 3 False
1 1 4 False
1 1 5 False
1 1 6 False
1 1 7 False
1 1 8 False
1 1 9 False
1 2 1 False
1 2 2 False
1 2 3 False
1 2 4 False
1 2 5 False
1 2 6 False
1 2 7 False
1 2 8 False
1 2 9 False
1 3 1 False
1 3 2 False
1 3 3 False
1 3 4 False
1 3 5 False
1 3 6 False
1 3 7 False
1 3 8 False
1 3 9 False
1 4 1 False
1 4 2 False
1 4 3 False
1 4 4 False
1 4 5 False
1 4 6 False
1 4 7 False
1 4 8 False
1 4 9 False
1 5 1 False
1 5 2 False
1 5 3 False
1 5 4 False
1 5 5 False
1 5 6 False
1 5 7 False
1 5 8 False
1 5 9 False
1 6 1 False
1 6 2 False
1 6 3 False
1 6 4 False
1 6 5 False
1 6 6 False
1 6 7 False
1 6 8 False
1 6 9 False
1 7 1 False
1 7 2 False
1 7 3 False
1 7 4 False
1 7 5 False
1 7 6 False
1 7 7 False
1 7 8 False
1 7 9 False
1 8 1 False
1 8 2 False
1 8 3 False
1 8 4 False
1 8 5 False
1 8 6 False
1 8 7 False
1 8 8 False
1 8 9 False
1 9 1 False
1 9 2 False
1 9 3 False
1 9 4 False
1 9 5 False
1 9 6 False
1 9 7 False
1 9 8 False
1 9 9 False
2 1 1 False
2 1 2 False
2 1 3 False
2 1 4 False
2 1 5 False
2 1 6 False
2 1 7 False
2 1 8 False
2 1 9 False
2 2 1 False
2 2 2 False
2 2 3 False
2 2 4 False
2 2 5 False
2 2 6 False
2 2 7 False
2 2 8 False
2 2 9 False
2 3 1 False
2 3 2 False
2 3 3 False
2 3 4 False
2 3 5 False
2 3 6 False
2 3 7 False
2 3 8 False
2 3 9 False
2 4 1 False
2 4 2 False
2 4 3 False
2 4 4 False
2 4 5 False
2 4 6 False
2 4 7 False
2 4 8 False
2 4 9 False
2 5 1 False
2 5 2 False
2 5 3 False
2 5 4 False
2 5 5 False
2 5 6 False
2 5 7 False
2 5 8 False
2 5 9 False
2 6 1 False
2 6 2 False
2 6 3 False
2 6 4 False
2 6 5 False
2 6 6 False
2 6 7 False
2 6 8 False
2 6 9 False
2 7 1 False
2 7 2 False
2 7 3 False
2 7 4 False
2 7 5 False
2 7 6 False
2 7 7 False
2 7 8 False
2 7 9 False
2 8 1 False
2 8 2 False
2 8 3 False
2 8 4 False
2 8 5 False
2 8 6 False
2 8 7 False
2 8 8 False
2 8 9 False
2 9 1 False
2 9 2 False
2 9 3 False
2 9 4 False
2 9 5 False
2 9 6 False
2 9 7 False
2 9 8 False
2 9 9 False
3 1 1 False
3 1 2 False
3 1 3 False
3 1 4 False
3 1 5 False
3 1 6 False
3 1 7 False
3 1 8 False
3 1 9 False
3 2 1 False
3 2 2 False
3 2 3 False
3 2 4 False
3 2 5 False
3 2 6 False
3 2 7 False
3 2 8 False
3 2 9 False
3 3 1 False
3 3 2 False
3 3 3 False
3 3 4 False
3 3 5 False
3 3 6 False
3 3 7 False
3 3 8 False
3 3 9 False
3 4 1 False
3 4 2 False
3 4 3 False
3 4 4 False
3 4 5 False
3 4 6 False
3 4 7 False
3 4 8 False
3 4 9 False
3 5 1 False
3 5 2 False
3 5 3 False
3 5 4 False
3 5 5 False
3 5 6 False
3 5 7 False
3 5 8 False
3 5 9 False
3 6 1 False
3 6 2 False
3 6 3 False
3 6 4 False
3 6 5 False
3 6 6 False
3 6 7 False
3 6 8 False
3 6 9 False
3 7 1 False
3 7 2 False
3 7 3 False
3 7 4 False
3 7 5 False
3 7 6 False
3 7 7 False
3 7 8 False
3 7 9 False
3 8 1 False
3 8 2 False
3 8 3 False
3 8 4 False
3 8 5 False
3 8 6 False
3 8 7 False
3 8 8 False
3 8 9 False
3 9 1 False
3 9 2 False
3 9 3 False
3 9 4 False
3 9 5 False
3 9 6 False
3 9 7 False
3 9 8 False
3 9 9 False
4 1 1 False
4 1 2 False
4 1 3 False
4 1 4 False
4 1 5 False
4 1 6 False
4 1 7 False
4 1 8 False
4 1 9 False
4 2 1 False
4 2 2 False
4 2 3 False
4 2 4 False
4 2 5 False
4 2 6 False
4 2 7 False
4 2 8 False
4 2 9 False
4 3 1 False
4 3 2 False
4 3 3 False
4 3 4 False
4 3 5 False
4 3 6 False
4 3 7 False
4 3 8 False
4 3 9 False
4 4 1 False
4 4 2 False
4 4 3 False
4 4 4 False
4 4 5 False
4 4 6 False
4 4 7 False
4 4 8 False
4 4 9 False
4 5 1 False
4 5 2 False
4 5 3 False
4 5 4 False
4 5 5 False
4 5 6 False
4 5 7 False
4 5 8 False
4 5 9 False
4 6 1 False
4 6 2 False
4 6 3 False
4 6 4 False
4 6 5 False
4 6 6 False
4 6 7 False
4 6 8 False
4 6 9 False
4 7 1 False
4 7 2 False
4 7 3 False
4 7 4 False
4 7 5 False
4 7 6 False
4 7 7 False
4 7 8 False
4 7 9 False
4 8 1 False
4 8 2 False
4 8 3 False
4 8 4 False
4 8 5 False
4 8 6 False
4 8 7 False
4 8 8 False
4 8 9 False
4 9 1 False
4 9 2 False
4 9 3 False
4 9 4 False
4 9 5 False
4 9 6 False
4 9 7 False
4 9 8 False
4 9 9 False
5 1 1 False
5 1 2 False
5 1 3 False
5 1 4 False
5 1 5 False
5 1 6 False
5 1 7 False
5 1 8 False
5 1 9 False
5 2 1 False
5 2 2 False
5 2 3 False
5 2 4 False
5 2 5 False
5 2 6 False
5 2 7 False
5 2 8 False
5 2 9 False
5 3 1 False
5 3 2 False
5 3 3 False
5 3 4 False
5 3 5 False
5 3 6 False
5 3 7 False
5 3 8 False
5 3 9 False
5 4 1 False
5 4 2 False
5 4 3 False
5 4 4 False
5 4 5 False
5 4 6 False
5 4 7 False
5 4 8 False
5 4 9 False
5 5 1 False
5 5 2 False
5 5 3 False
5 5 4 False
5 5 5 False
5 5 6 False
5 5 7 False
5 5 8 False
5 5 9 False
5 6 1 False
5 6 2 False
5 6 3 False
5 6 4 False
5 6 5 False
5 6 6 False
5 6 7 False
5 6 8 False
5 6 9 False
5 7 1 False
5 7 2 False
5 7 3 False
5 7 4 False
5 7 5 False
5 7 6 False
5 7 7 False
5 7 8 False
5 7 9 False
5 8 1 False
5 8 2 False
5 8 3 False
5 8 4 False
5 8 5 False
5 8 6 False
5 8 7 False
5 8 8 False
5 8 9 False
5 9 1 False
5 9 2 False
5 9 3 False
5 9 4 False
5 9 5 False
5 9 6 False
5 9 7 False
5 9 8 False
5 9 9 False
6 1 1 False
6 1 2 False
6 1 3 False
6 1 4 False
6 1 5 False
6 1 6 False
6 1 7 False
6 1 8 False
6 1 9 False
6 2 1 False
6 2 2 False
6 2 3 False
6 2 4 False
6 2 5 False
6 2 6 False
6 2 7 False
6 2 8 False
6 2 9 False
6 3 1 False
6 3 2 False
6 3 3 False
6 3 4 False
6 3 5 False
6 3 6 False
6 3 7 False
6 3 8 False
6 3 9 False
6 4 1 False
6 4 2 False
6 4 3 False
6 4 4 False
6 4 5 False
6 4 6 False
6 4 7 False
6 4 8 False
6 4 9 False
6 5 1 False
6 5 2 False
6 5 3 False
6 5 4 False
6 5 5 False
6 5 6 False
6 5 7 False
6 5 8 False
6 5 9 False
6 6 1 False
6 6 2 False
6 6 3 False
6 6 4 False
6 6 5 False
6 6 6 False
6 6 7 False
6 6 8 False
6 6 9 False
6 7 1 False
6 7 2 False
6 7 3 False
6 7 4 False
6 7 5 False
6 7 6 False
6 7 7 False
6 7 8 False
6 7 9 False
6 8 1 False
6 8 2 False
6 8 3 False
6 8 4 False
6 8 5 False
6 8 6 False
6 8 7 False
6 8 8 False
6 8 9 False
6 9 1 False
6 9 2 False
6 9 3 False
6 9 4 False
6 9 5 False
6 9 6 False
6 9 7 False
6 9 8 False
6 9 9 False
7 1 1 False
7 1 2 False
7 1 3 False
7 1 4 False
7 1 5 False
7 1 6 False
7 1 7 False
7 1 8 False
7 1 9 False
7 2 1 False
7 2 2 False
7 2 3 False
7 2 4 False
7 2 5 False
7 2 6 False
7 2 7 False
7 2 8 False
7 2 9 False
7 3 1 False
7 3 2 False
7 3 3 False
7 3 4 False
7 3 5 False
7 3 6 False
7 3 7 False
7 3 8 False
7 3 9 False
7 4 1 False
7 4 2 False
7 4 3 False
7 4 4 False
7 4 5 False
7 4 6 False
7 4 7 False
7 4 8 False
7 4 9 False
7 5 1 False
7 5 2 False
7 5 3 False
7 5 4 False
7 5 5 False
7 5 6 False
7 5 7 False
7 5 8 False
7 5 9 False
7 6 1 False
7 6 2 False
7 6 3 False
7 6 4 False
7 6 5 False
7 6 6 False
7 6 7 False
7 6 8 False
7 6 9 False
7 7 1 False
7 7 2 False
7 7 3 False
7 7 4 False
7 7 5 False
7 7 6 False
7 7 7 False
7 7 8 False
7 7 9 False
7 8 1 False
7 8 2 False
7 8 3 False
7 8 4 False
7 8 5 False
7 8 6 False
7 8 7 False
7 8 8 False
7 8 9 False
7 9 1 False
7 9 2 False
7 9 3 False
7 9 4 False
7 9 5 False
7 9 6 False
7 9 7 False
7 9 8 False
7 9 9 False
8 1 1 False
8 1 2 False
8 1 3 False
8 1 4 False
8 1 5 False
8 1 6 False
8 1 7 False
8 1 8 False
8 1 9 False
8 2 1 False
8 2 2 False
8 2 3 False
8 2 4 False
8 2 5 False
8 2 6 False
8 2 7 False
8 2 8 False
8 2 9 False
8 3 1 False
8 3 2 False
8 3 3 False
8 3 4 False
8 3 5 False
8 3 6 False
8 3 7 False
8 3 8 False
8 3 9 False
8 4 1 False
8 4 2 False
8 4 3 False
8 4 4 False
8 4 5 False
8 4 6 False
8 4 7 False
8 4 8 False
8 4 9 False
8 5 1 False
8 5 2 False
8 5 3 False
8 5 4 False
8 5 5 False
8 5 6 False
8 5 7 False
8 5 8 False
8 5 9 False
8 6 1 False
8 6 2 False
8 6 3 False
8 6 4 False
8 6 5 False
8 6 6 False
8 6 7 False
8 6 8 False
8 6 9 False
8 7 1 False
8 7 2 False
8 7 3 False
8 7 4 False
8 7 5 False
8 7 6 False
8 7 7 False
8 7 8 False
8 7 9 False
8 8 1 False
8 8 2 False
8 8 3 False
8 8 4 False
8 8 5 False
8 8 6 False
8 8 7 False
8 8 8 False
8 8 9 False
8 9 1 False
8 9 2 False
8 9 3 False
8 9 4 False
8 9 5 False
8 9 6 False
8 9 7 False
8 9 8 False
8 9 9 False
9 1 1 False
9 1 2 False
9 1 3 False
9 1 4 False
9 1 5 False
9 1 6 False
9 1 7 False
9 1 8 False
9 1 9 False
9 2 1 False
9 2 2 False
9 2 3 False
9 2 4 False
9 2 5 False
9 2 6 False
9 2 7 False
9 2 8 False
9 2 9 False
9 3 1 False
9 3 2 False
9 3 3 False
9 3 4 False
9 3 5 False
9 3 6 False
9 3 7 False
9 3 8 False
9 3 9 False
9 4 1 False
9 4 2 False
9 4 3 False
9 4 4 False
9 4 5 False
9 4 6 False
9 4 7 False
9 4 8 False
9 4 9 False
9 5 1 False
9 5 2 False
9 5 3 False
9 5 4 False
9 5 5 False
9 5 6 False
9 5 7 False
9 5 8 False
9 5 9 False
9 6 1 False
9 6 2 False
9 6 3 False
9 6 4 False
9 6 5 False
9 6 6 False
9 6 7 False
9 6 8 False
9 6 9 False
9 7 1 False
9 7 2 False
9 7 3 False
9 7 4 False
9 7 5 False
9 7 6 False
9 7 7 False
9 7 8 False
9 7 9 False
9 8 1 False
9 8 2 False
9 8 3 False
9 8 4 False
9 8 5 False
9 8 6 False
9 8 7 False
9 8 8 False
9 8 9 False
9 9 1 False
9 9 2 False
9 9 3 False
9 9 4 False
9 9 5 False
9 9 6 False
9 9 7 False
9 9 8 False
9 9 9 False

Exercise 2.7.7

In [83]:
sum = 0
n = 3

for j in range(n) :
    a_n = 0
    for i in range(j+1) :
        a_n += i+1
    sum += a_n
sum

10

# Chap2.8

Exercise 2.8.1

In [84]:
score = [80, 30, 90, 95, 50]
(score[0] + score[1] + score[2] + score[3] + score[4])/5

69.0

Exercise 2.8.2

In [87]:
days = {'01' : 31, '02' : 28, '03' : 31, '04' :30, '05' : 31, 
        '06' : 30, '07' : 31, '08' : 30, '09' : 31, '10' :30,
        '11' : 31, '12' :30}
(days['02']+ days['04'] + days['06'] + days['08'] + days['10'] + days['12'])/6

29.666666666666668

# Chap2.9

Exercise 2.9.1

In [88]:
#n1. 
Students = ['A', 'B', 'C', 'D', 'E']

#n2. 
Students.append('F')

#n3. 
del Students[2]

#n4. 
New_Students = Students[3:5]

# Chap2.10

Exercise 2.10.1

In [90]:
X = [4,3,2,3,4]
Y = [3,3,1,2,2]
sum_of_GPA = 0
sum_of_Y = 0

for i, Xi in enumerate(X) : 
    Yi = Y[i]
    sum_of_GPA += Xi*Yi
    sum_of_Y += Yi
GPA = sum_of_GPA/sum_of_Y
GPA

3.3636363636363638

Exercise 2.10.2

In [91]:
X = [6,5,4,7,3,5]
var_sum = 0
sum = 0

for Xi in X :
    sum += Xi
mean = sum/len(X)

for Xi in X :
    var_sum += (Xi-mean)**2
variance = var_sum/len(X)
variance

1.6666666666666667

Exercise 2.10.3

In [102]:
x = [["길동", 90], ["철수", 80], ["영수", 70], ["방자", 60]]
x1, x2, x3, x4 = x
ans = list(zip(x1, x2, x3, x4))[0]
ans

('길동', '철수', '영수', '방자')

# Chap2.11

Exercise 2.11.1

In [108]:
data = {
    "철수": 98,
    "영희": 80,
    "순이": 100,
    "돌이": 70,
}
sum = 0
for score in data.values() :
    sum += score
avg = sum/len(data)

for name, score in data.items() :
    print("%s     %1d" %(name, score))
print("============\n평균     %d" %avg)

철수     98
영희     80
순이     100
돌이     70
============
평균     87

# Chap2.12

Exercise 2.12.1

In [3]:
class triangle(object) : 
    
    def __init__(self, d, h) :
        self.d = d
        self.h = h
    
    def area(self) : 
        area = self.d*self.h*(0.5) 
        return area

In [4]:
t = triangle(1,2) 
t.area()

1.0

Exercise 2.12.2

In [12]:
class square(object) : 
    
    def __init__(self, a, b, h) :
        self.a = a
        self.b = b
        self.h = h
    
    def volume(self) :
        volume = self.a*self.b*self.h
        return volume
    
    def area(self) :
        area = (2*self.a*self.b) + (self.a+self.b)*2*self.h
        return area

In [14]:
v = square(1,2,3) 
print(v.volume(), v.area())

6 22

Exercise 2.12.3

In [22]:
class Character(object) :
    
    def __init__(self) :
        self.life = 1000
        self.strength = 10
        self.intelligence = 10
    
    def attacked(self) : 
        self.life -= 10
        print("공격받음! 생명력 = ", self.life)
    
    def attack(self) :
        print("공격")
        
class Warrior(Character) :
    
    def __init__(self) :
        super(Warrior, self).__init__()
        self.strength = 15
        self.intelligence = 5
    
    def attacked(self) : 
        self.life -= 5
        print("공격받음! 생명력 = ", self.life)
    
    def attack(self) :
        print("육탄공격")
    
class Wizard(Character) :
    
    def __init__(self) :
        super(Wizard, self).__init__()
        self.strength = 5
        self.intelligence = 15
        
    def attacked(self) : 
        self.life -= 7 
        print("공격받음! 생명력 = ", self.life)

    def attack(self) :
        print("마법공격")

In [23]:
a = Character()
b = Warrior()
c = Wizard()

In [26]:
a.attacked()
b.attacked()
c.attacked()

공격받음! 생명력 =  970
공격받음! 생명력 =  985
공격받음! 생명력 =  979

1. 클래스 상속 : 부모 클래스의 method와 속성을 자식 클래스에 동일하게 넘겨줌  
2. 메서드 오버라이딩 : 여러 클래스에 걸쳐서 같은 이름의 메서드를 만드는 것. 자식 클래스에서 알아서 변경해서 사용한다

Exercise 2.12.4

In [38]:
class Car(object) :
    
    def __init__(self) : 
        self.max_speed = 160
        self.speed = 0 
    
    def speed_up(self) :
        self.speed += 20
        if self.speed > self.max_speed :
            self.speed = self.max_speed
            print("속도를 증가할 수 없습니다! 속도 = ", self.speed)
        else :
            print("속도증가! 속도 = ", self.speed)
        
    def speed_down(self) :
        self.speed -= 20
        if self.speed < 0 :
            self.speed = 0
            print("속도가 이미 0 입니다! 속도 = ", self.speed)
        else :
            print("속도감소! 속도 = ", self.speed)

In [39]:
a = Car()

In [49]:
a.speed_up()

속도를 증가할 수 없습니다! 속도 =  160

In [59]:
a.speed_down()

속도가 이미 0 입니다! 속도 =  0

Exercise 2.12.5

In [62]:
class SportCar(Car) : 
    
    def __init__(self) :
        super(SportCar, self).__init__()
        self.max_speed = 200
    
    def speed_up(self) :
        self.speed += 45
        if self.speed > self.max_speed :
            self.speed = self.max_speed
            print("속도를 증가할 수 없습니다! 속도 = ", self.speed)
        else :
            print("속도증가! 속도 = ", self.speed)
        
    def speed_down(self) :
        self.speed -= 45
        if self.speed < 0 :
            self.speed = 0
            print("속도가 이미 0 입니다! 속도 = ", self.speed)
        else :
            print("속도감소! 속도 = ", self.speed)
            
class Truck(Car) : 
    
    def __init__(self) :
        super(Truck, self).__init__()
        self.max_speed = 100
    
    def speed_up(self) :
        self.speed += 15
        if self.speed > self.max_speed :
            self.speed = self.max_speed
            print("속도를 증가할 수 없습니다! 속도 = ", self.speed)
        else :
            print("속도증가! 속도 = ", self.speed)
        
    def speed_down(self) :
        self.speed -= 15
        if self.speed < 0 :
            self.speed = 0
            print("속도가 이미 0 입니다! 속도 = ", self.speed)
        else :
            print("속도감소! 속도 = ", self.speed)

In [63]:
b = SportCar()
c = Truck()

In [70]:
b.speed_up()
c.speed_up()

속도를 증가할 수 없습니다! 속도 =  200
속도를 증가할 수 없습니다! 속도 =  100

In [77]:
b.speed_down()
c.speed_down()

속도가 이미 0 입니다! 속도 =  0
속도가 이미 0 입니다! 속도 =  0

Exercise 2.12.6

In [84]:
class student(object) :
    
    def __init__(self, ID, name, math, english) :
        self.ID = ID
        self.name = name
        self.math = math
        self.english = english
    
    def avg(self) : 
        avg = (self.math + self.english)/2
        return avg
    
    def __repr__(self) : 
        return "Name = %s, ID = %s" %(self.name, self.ID)
    
    def __getitem__(self, key) :
        if key == 'math' : 
            return self.math
        if key == 'english' : 
            return self.english

In [85]:
s_info = student(201724570, '정석규', 100, 100)

In [86]:
s_info.avg()

100.0

In [87]:
s_info

Name = 정석규, ID = 201724570

In [88]:
s_info.ID

201724570

In [89]:
print(s_info['math'], s_info['english'])

100 100

# Chap2.14

Exercise 2.14.1

In [100]:
today = "2020-10-25"
birthday = "2000-11-21"
today_year = int(today.split("-")[0])
birth_year = int(birthday.split("-")[0])
today_month = int(today.split("-")[1])
birth_month = int(birthday.split("-")[1])

In [101]:
if today_month > birth_month : 
    age = today_year - birth_year
else : 
    age = today_year - birth_year + 1

In [102]:
age

21

# Chap2.15

Exercise 2.15.1

In [106]:
import datetime as dt
my_birth_day = "1998-05-03"
dt.datetime.strptime(my_birth_day, "%Y-%m-%d").strftime("%Y년 %m월 %d일 %A")

'1998년 05월 03일 Sunday'

Exercise 2.15.2

In [127]:
import datetime as dt
n = dt.datetime.now() 

class my_birth(object) :
    
    def __init__(self, year, month, day) :
        self.year = int(year)
        if month[0] == "0" :
            self.month = int(month[1])
        else : 
            self.month = int(month)
        if day[0] == "0" :
            self.day = int(day[1])
        else :
            self.day = int(day)
    def age(self) :
        if n.month > self.month : 
            age = n.year - self.year
        else : 
            age = n.year - self.year + 1
        return age

In [128]:
birth = my_birth("1998", "05", "03")

In [130]:
birth.age()

24

Exercise 2.15.3

In [133]:
dt1 = dt.datetime.now()
dt2 = dt.datetime(2022, 5, 3, 0)
td = dt2-dt1
td

datetime.timedelta(days=366, seconds=16990, microseconds=293265)

In [134]:
td.days*24*60

527040

Exercise 2.15.4

In [137]:
t0 = dt.datetime(2000, 2, 29, 0)
td0 = dt.timedelta(days = 360)
t0+td0

datetime.datetime(2001, 2, 23, 0, 0)