#### Chap2.1 : 파이썬을 계산기로 사용하기

In [3]:
# Problem 2.1.1
ans1 = 3 * 2 - 8 / 4
ans2 = 25 * 6 / 3 + 17
ans3 = 39021 - 276920 / 12040
ans4 = 2**6 - 10 % 6
print(ans1, ans2, ans3, ans4)

4.0 67.0 38998.0 60

In [4]:
# Problem 2.1.2
ans1 = 12 - (5 * 7 + 1)
ans2 = 5 * (8 + (10 - 6) / 2)
ans3 = 48320 - ((365 - 5 * 9) / 16) * 987
ans4 = ((3**4 - 3 * 7) % 5 + 4)**2
print(ans1, ans2, ans3, ans4)

-24 50.0 28580.0 16

In [6]:
# Problem 2.1.3
ans1 = [3 == 3, 1.0 == 1.0, 2-1 == 1]
ans2 = [3 != 3, 1.0 == 1.0001, 2-1 == 0]
print(ans1, ans2)

[True, True, True] [False, False, False]

In [7]:
# Problem 2.1.4
ans1 = (5 <= 6) & (3 == 4)
ans2 = (2 != 1) | (3 >= 4)
ans3 = (5 <= 6) & ((0 == 0) | (3 < 4))
print(ans1, ans2, ans3)

False True True

In [9]:
# Problem 2.1.5
x, y, z, i, j, k = [1, 2, 3, 4, 5, 6]

ans1 = (2 * x - 1)**2 + 1
ans2 = (x ** (2 * y))*(z + 10)
ans3 = ((j == 0) & (0 < k)) | (i <= 100)

print(ans1, ans2, ans3)

2 13 True

#### Chap2.2 : 부동소수점 실수 자료형

In [11]:
# Problem 2.2.1
ans1 = 5e8
ans2 = 5.6e3
ans3 = -2.1e2
ans4 = -3.4e-1
print(ans1, ans2, ans3, ans4)

500000000.0 5600.0 -210.0 -0.34

In [13]:
# Problem 2.2.2
ans1 = 3141592e-6
ans2 = 2718e-3
ans3 = 14e-1
ans4 = 173e-2
print(ans1, ans2, ans3, ans4)

3.141592 2.718 1.4 1.73

In [1]:
# Problem 2.2.3 
ans1 = 1 * 10**3 + 2 * 10**2 + 3 * 10**1 + 4
ans2 = 1 * 10**3 + 0 * 10**2 + 1 * 10**1 + 0
ans3 = 3 * 10**0 + 1 * 10**(-1) + 4 * 10**(-2)
ans4 = 0 * 10**0 + 0 * 10**(-1) + 2 * 10**(-2) + 3 * 10**(-3) 

print(ans1, ans2, ans3, ans4)

1234 1010 3.14 0.023

In [5]:
# Problem 2.2.4
ans1 = bin(13)
ans2 = bin(129)
print(ans1, ans2)

0b1101 0b10000001

#### Chap2.3 : 파이썬으로 글자를 출력하기

In [11]:
# Problem 2.3.1
ans1 = """
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
"""
print(ans1)

print("@" * 5)
print("@" + " " * 3 + "@")
print("@" + " " * 3 + "@")
print("@" + " " * 3 + "@")
print("@" * 5)

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.

@@@@@
@   @
@   @
@   @
@@@@@

In [8]:
# Problem 2.3.2
string = "2020-12-25"
string.replace("-", "")

'20201225'

#### Chap2.4 : 파이썬의 문자열 형식화

##### %기호를 사용한 문자열 형식화   
문자열 뒤에 % 기호를 붙이고 그뒤에 다른 값을 붙이면 뒤에 붙은 값이 문자열 안으로 들어간다.

**<center> <"문자열" % 값>**
    
| 형식지정 문자열 | 의미 | 
| --- | --- |
| %s | String |
| %d | Integer | 
| %f | Floart | 
| %ns | 전체 n칸을 차지하는 문자열(공백이 앞에 위치한다) | 
| %-nd | 전체 n칸을 차지하는 숫자(공백이 뒤에 위치한다) |
| %.nf | 부동소수점의 소수점 n자리까지 표시 | 
    
    
##### format method를 사용한 문자열 형식화
format 메서드를 사용하여 문자열을 형식화하는 방법도 있다. 이 때는 % 기호로 시작하는 형식지정 문자열 대신 {} 기호를 사용한다. 또한 자료형을 표시할 필요가 없다. 문자열 내에서 { 문자를 출력하고 싶을 때는 {{라는 글자를 사용한다. {} 안에 값의 순서를 지정하는 숫자를 넣을 수도 있다. 가장 앞에 있는 값은 {0}, 그 뒤의 값은 {1}, 이런 식으로 지정한다. 이 방법을 사용하면 값의 순서를 바꾸거나 같은 값을 여러번 인쇄할 수도 있다.

In [10]:
# Problem 2.4.1
name = "Tom"
age = 13 
print("%s is %d years old" % (name, age))

a = 10
b = 3
print("%d / %d = %f" %(a, b, a/b))

Tom is 13 years old
10 / 3 = 3.333333

In [39]:
# Problem 2.4.2
a = 3
b = 12
print("%6d\nx%5d\n-------\n%6d\n" %(a,b, a*b))

a = 123456
b = 7890
print("%10d\n+%9d\n----------\n%10d" %(a,b, a+b))

     3
x   12
-------
    36

    123456
+     7890
----------
    131346

#### Chap2.5 : 파이썬 조건문 기초

In [40]:
# Problem 2.5.1 
a = 10 
if (a>=10) & (b < 100) & (b % 2 == 0) : 
    print("2자리 수의 짝수이다.")
else : 
    print("2자리 수의 짝수가 아니다.")

2자리 수의 짝수가 아니다.

In [46]:
# Problem 2.5.2
year = 1900
if (year % 4 == 0) & (year % 100 != 0) | (year % 400 == 0) :
    print("윤년입니다.")
else : 
    print("윤년이 아닙니다")

윤년이 아닙니다

In [47]:
# Problem 2.5.3
c = 10

if c >= 8:
    print("A")
elif c >= 5:
    print("B")
else:
    print("C")

A

In [49]:
# Problem 2.5.4
weight = 5

if weight > 10 : 
    print(1)
elif weight > 7 : 
    print(2)
elif weight > 4 : 
    print(3)
else :
    print(4)

3

In [52]:
# Problem 2.5.5
XA = True
XB = False

if XA == True : 
    if XB == True  :
        YA = 5
        YB = 5
    else : 
        YA = 0
        YB = 10 
else : 
    if XB == True : 
        YA = 10
        YB = 0
    else : 
        YA = 1
        YB = 1
print(YA, YB)

0 10

#### Chap2.6 : 파이썬 함수

In [54]:
# Problem 2.6.1
def ans1(n) :
    if n % 2 == 0 :
        return "짝수"
    else :
        return "홀수"

def ans2(year) : 
    if (year % 4 == 0) & (year % 100 != 0) | (year % 400 == 0) :
        return "윤년"
    else : 
        return "평년"
    
print(ans1(2), ans2(1900))

짝수 평년

In [55]:
# Problem 2.6.2
def days1(month) : 
    if month in [1, 3, 5, 7, 8 ,10 ,12] :
        return 31
    elif month in [4, 6, 9, 11] : 
        return 30 
    else : 
        return 28

days1(11)

30

In [56]:
# Problem 2.6.3
def days2(year, month)  :
    if month in [1, 3, 5, 7, 8 ,10 ,12] :
        return 31
    elif month in [4, 6, 9, 11] : 
        return 30 
    else : 
        return 28
    
days2(2015, 1)

31

##### 람다함수 
함수에 이름을 주지 않거나 코드를 짧게 줄여쓰는 방법으로 람다(lambda)함수라는 것이 있다.

In [57]:
f = lambda x : 2*x
f(2)

4

#### Chap2.7 :  파이썬 for 반복문

In [58]:
# Problem 2.7.1
for i in range(11) : 
    print('*' * (i+1))

*
**
***
****
*****
******
*******
********
*********
**********
***********

In [59]:
# Problem 2.7.2
for i in range(11) : 
    print('*' * (11-i))

***********
**********
*********
********
*******
******
*****
****
***
**
*

In [61]:
# Problem 2.7.2
for i in range(20) : 
    if i < 11 : 
        print('*' * (i + 1))
    else : 
        print('*' * (20-i))

*
**
***
****
*****
******
*******
********
*********
**********
***********
*********
********
*******
******
*****
****
***
**
*

In [76]:
# Problem 2.7.3
for i in range(11) :
    if i < 6 : 
        print(" " * (5-i) + "*" * (2 * i + 1) + " " * (5-i))
    else : 
        print(" " * (i-5) + "*" * (2 * (10-i) + 1) + " " * (i-5))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [79]:
# Problem 2.7.4

for i in [2, 1/2]:
    for j in [2, 1/2]:
        for k in [2, 1/2]:
            print(1024 * i * j * k)

8192
2048.0
2048.0
512.0
2048.0
512.0
512.0
128.0

In [82]:
# Problem 2.7.5
n = 4

for i in range(n+1) : 
    res = 0
    for j in range(i + 1) : 
        res += i + 1
res

25

#### Chap2.8 : 여러개의 자료를 한 변수에 담기

In [2]:
# Problem 2.8.1
score = [1, 2, 3, 4, 5]
ans1 = sum(score) / 5

ans1

3.0

In [7]:
# Problem 2.8.2
days = {'01' : 31, '02' : 28, '03' : 31, '04' : 30, '05' : 31, '06' : 30, '07' : 31,
       '08' : 31, '09' : 30, '10' : 31, '11' : 30, '12' : 31}
ans1 = (days['02'] + days['04'] + days['06'] + days['08'] + days['10'] + days['12'])/6

int(ans1)

30

#### Chap2.9 : 파이썬에서 리스트 자료형 다루기

In [13]:
# Problem 2.9.1
class_room = ['철수', '영희']
print(class_room) 

class_room.append('민수')
print(class_room)

del class_room[1]
print(class_room)

['철수', '영희']
['철수', '영희', '민수']
['철수', '민수']

#### Chap2.10 : 리스트와 반복문을 사용하여 계산하기

##### enumerate 함수
때로는 반복문에 정수 인덱스가 필요할 때도 있다. 예를 들어 반복문에서 append 메서드를 쓰면 계산 속도가 저하된다. 이때는 미리 저장 공간을 만들어 놓고 해당 위치에 계산 결과를 갱신해야 한다. 이때는 enumerate 명령을 쓸 수 있다. enumerate 명령은 리스트의 원소를 반복하면서 동시에 인덱스 값도 생성한다.

Data Structure에 자리를 직접 지정하여 넣어준다. null list의 고정 length에 넣어준다 -> 속도 증가

In [18]:
# Problem 2.10.1
X = [4, 3, 2, 3, 4]
W = [3, 3, 1, 2, 2]
weighted_sum = 0
tot = 0
for i, (grade, hour) in enumerate(zip(X,W)) : 
        weighted_sum = weighted_sum + grade*hour
        tot = tot + hour

ans1 = weighted_sum / tot
ans1

3.3636363636363638

In [21]:
# Problem 2.10.2
X = [6, 5, 4, 7, 3, 5]

var_sum = 0
mean = sum(X)/len(X)

for i in X : 
    var_sum += (i - mean)**2

ans2 = var_sum/mean
ans2

2.0

In [22]:
# Problem 2.10.3
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]
x = list(zip(*x))
x

[('길동', '철수', '영수', '방자'), (90, 80, 70, 60)]

#### Chap2.11 : 파이썬에서 딕셔너리 자료형 다루기

In [10]:
# Problem 2.11.1
data = {
    "철수": 98,
    "영희": 80,
    "순이": 100,
    "돌이": 70,
}
cum = 0
for name, score in data.items() :
    print("%s %10d"%(name, score))
    cum += score
print("===============")
print("평균%11d"%(cum/len(data)))

철수         98
영희         80
순이        100
돌이         70
===============
평균         87

#### Chap2.12 : 파이썬 객체지향 프로그래밍 

##### 객체  
프로그램이 어떤 작업을 수행하기 위해서는 (1)데이터와 (2)데이터를 조작하는 행위, 두 가지 요소가 필요하다. 일반적으로 데이터는 변수에 넣어서 사용하고 데이터를 조작하는 일은 함수로 구성해서 쉽게 실행할 수 있도록 만들어 놓는다. 

객체(object)는 서로 관련된 데이터와 그 데이터를 조작하기 위한 함수를 하나의 집합에 모아놓은 것을 말한다. 이때 집합의 원소가 되는 변수나 함수는 멤버(memeber) 또는 속성(attribute)이라고 한다. 특히 객체의 속성인 함수는 메서드(method)라고 부른다. 

- 객체 
    - 메서드(필드의 원소를 사용하여 동작을 수행함) 
        - 속성(객체를 구성하는 필드)

특정 원소와 특정 작업을 반복적으로 수행하기 위해 클래스를 정의하고, 입력된 속성에 대해 생성된 객체에 대해서 행동을 부여한다.
즉, 클래스는 속성에 대한 의미를 형성하고, 매서드는 속성에 대한 행동을 수행한다.  
- linear = sklearn.Linear_Regression(a, b, h) : 클래스 지정   
- linear.fit_model() : 매서드 수행

In [22]:
# Problem 2.12.1
class triangle(object) :
    
    def __init__(self, b, h) :
        self.b = b
        self.h = h
    
    def area(self) :
        return (1/2)*self.b*self.h
    
ans1 = triangle(2, 4) 
ans1.area()

4.0

In [24]:
# Problem 2.13.1
class Rec_col(object) :
    
    def __init__(self, a, b, h) :
        self.a = a
        self.b = b
        self.h = h
    
    def volume(self) : 
        return self.a*self.b*self.h

ans2 = Rec_col(1,2,3)
ans2.volume()

6

##### 클래스 상속

부모 클래스의 속성에 대하여 Character에 따라 다른 초기 속성값을 부여하고 싶다면, 자식 클래스를 생성하여 그에 따른 개별 속성을 부여할 수 있다.

##### 매서드 오버라이딩 

메서드 오버라이딩(Method Overriding)이란, 여러 클래스에 걸쳐서 같은 이름의 메서드를 만드는 것이다. 예를 들어 부모 클래스, 전사 캐릭터 클래스, 마법사 캐릭터 클래스에 공통으로 attack이라는 메서드가 있지만, 각각 하는 일이 다를 때는 다음처럼 같은 이름의 메서드를 클래스별로 구현하면 된다. 이렇게 되면 부모 클래스에서 만든 메서드 정의를 자식 클래스에서는 변경해서 사용한다.

In [26]:
# Problem 2.12.3
class Character(object):

    def __init__(self):
        self.life = 1000
        self.strength = 10
        self.intelligence = 10

    def attacked(self):
        self.life -= 20
        print("공격받음! 생명력 =", self.life)

    def attack(self):
        print("공격!")

class Warrior(Character):

    def __init__(self):
        super(Warrior, self).__init__()
        self.strength = 15
        self.intelligence = 5

    def attack(self):
        print("육탄 공격!")
        
    def attacked(self):
        self.life -= 5
        print("공격받음! 생명력 =", self.life)
        
class Wizard(Character):

    def __init__(self):
        super(Wizard, self).__init__()
        self.strength = 5
        self.intelligence = 15

    def attack(self):
        print("마법 공격!")
    
    def attacked(self):
        self.life -= 15
        print("공격받음! 생명력 =", self.life)

In [32]:
a = Character()
b = Warrior()
c = Wizard()

print([a.life, b.life, c.life])
a.attacked()
b.attacked()
c.attacked()
print([a.life, b.life, c.life])

[1000, 1000, 1000]
공격받음! 생명력 = 980
공격받음! 생명력 = 995
공격받음! 생명력 = 985
[980, 995, 985]

In [40]:
# Problem 2.12.4

class Car(object) : 
    
    def __init__(self) : 
        self.max_speed = 160
        self.speed = 0
    
    def speedup(self) :
        if self.speed > self.max_speed : 
            print("Cannot accelorate more speed!")
        self.speed += 20
        
    def speeddown(self) :
        if self.speed < 0 :
            print("Cannot downgrade more speed")
        slef.speed -=20 

c = Car() 
c.speedup()
c.speed

20

In [44]:
# Problem 2.12.5

class SportCar(Car) : 

    def __init__(self):
        super(SportCar, self).__init__()
        self.max_speed = 200
    
    def speedup(self) : 
        if self.speed > self.max_speed :
            print("Cannot accelorate more speed")
        self.speed += 45
    
    def speeddown(self) :
        if self.speed < 0 :
            print("Cannot downgrade more speed")
        slef.speed -= 45    
        
class Truck(Car) : 

    def __init__(self):
        super(Truck, self).__init__()
        self.max_speed = 100
    
    def speedup(self) : 
        if self.speed > self.max_speed :
            print("Cannot accelorate more speed")
        self.speed += 15
    
    def speeddown(self) :
        if self.speed < 0 :
            print("Cannot downgrade more speed")
        slef.speed -= 15
        
a = Car()
b = SportCar()
c = Truck()

print([a.speed, b.speed, c.speed])
for i in range(4) : 
    a.speedup()
    b.speedup()
    c.speedup()
    print([a.speed, b.speed, c.speed])

[0, 0, 0]
[20, 45, 15]
[40, 90, 30]
[60, 135, 45]
[80, 180, 60]

#### Chap2.13 : 파이썬 패키지 사용하기

#### Chap2.14 : 파이썬의 자료형

In [17]:
# Problem 2.14.1
today = "2020-10-25"
birthday = "2020-11-21"
ans1 = int(today.split('-')[0])-int(birthday.split('-')[0])
ans1

0

#### Chap2.15 : 파이썬에서 날짜와 시간 다루기

In [46]:
# Problem 2.15.1
import datetime as dt

birth = dt.datetime.strptime("1998-05-03 02:30", '%Y-%m-%d %H:%M')
print(birth.strftime("%Y년 %m월 %d일"))

1998년 05월 03일