# Problem 2292

In [2]:
N = int(input())
line = 1; cumsum = 1
while cumsum < N :
    cumsum += 6*line
    line += 1
print(line)

58
5

# Problem 2438

문제 :  
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제  

입력 :  
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력 :  
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

풀이 : 1~N까지 반복하는 숫자 만큼 * 을 곱하여 출력한다.  
i = 1, *   

i = 2, **   

i = 3, ***   

i = 4, ****  

i = 5, *****

In [4]:
N = int(input())

for i in range(1, N+1) :
    print('*'*i)

5
*
**
***
****
*****

# Problem 2439

문제 :  
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

입력 :  
첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

출력 :  
첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.  

풀이 : Same as 2438, 하지만 총 5칸에서 빈칸이 먼저 출력되어 오른쪽 끝에 찍혀야하로 ' ' * (N-1)의 빈칸을 먼저 출력한다.

i = 1, ' ' = 4 + * = 1  
i = 2, ' ' = 3 + * = 2  
i = 3, ' ' = 2 + * = 3
i = 4, ' ' = 1 + * = 4
i = 5, ' ' = 0 + * = 5

In [5]:
N = int(input())

for i in range(1, N+1) :
    print(' '*(N-i)+'*'*i)

5
    *
   **
  ***
 ****
*****

# Problem 2447

In [1]:
def star(n) :
    if N == 3 :
        return ''.join(['***\n', '* *\n', '***']
 b   else : 
        print(star(N/3)*3 )

SyntaxError: invalid syntax (<ipython-input-1-24bec49e9d3f>, line 4)

In [11]:
N = 3
'*'*N +

***
* *
******
* *
******
* *
***

# Problem 2557

풀이 : print 함수를 사용하여 원하는 문장을 출력시킨다.

In [1]:
print("Hello World!")

Hello World!

# Problem 2562

문제 :  
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

입력 :  
첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

출력 :  
첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

풀이 :  
개별값을 입력받아 list에 저장해야 하므로, for loop를 이용하여 n -> Nlist에 값을 저장한다.
이후 결과값을 출력하기 위해 max(), index(max()) function을 이용한다.

In [4]:
Nlist = []
for _ in range(9) : 
    n = int(input())
    Nlist.append(n)
print(max(Nlist))
print(Nlist.index(max(Nlist))+1)

3
29
38
12
57
74
40
85
61
85
8

# Problem 2577

문제 :  
세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 A × B × C = 150 × 266 × 427 = 17037300 이 되고, 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.

입력 : 
첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 크거나 같고, 1,000보다 작은 자연수이다.

출력 :  
첫째 줄에는 A × B × C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A × B × C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

풀이 : 
결과값을 출력하기 위한 list인 res와 A, B, C의 곱인 mul을 만들고, res에 0 ~ 9 까지의 count값을 저장할 count변수를 설정한다.
첫번째 for문에서는 mul의 각 원소와 비교하기 위한 0 ~ 9를 i에 넣고, 두번째 for문에 각 원소와 i의 여부를 비교하여 count값을 res에 넣는다. 

i = 0, count = 0, j = 0, str(mul)[0] = str(i) ? -> count = 1, count = 0

In [8]:
A = int(input())
B = int(input())
C = int(input())
res = []; 
mul = A*B*C

for i in range(10) :
    count = 0
    for j in range(len(str(mul))) :
        if str(mul)[j] == str(i):
            count += 1
    res.append(count)

for k in res :
    print(k)

150
266
427
3
1
0
2
0
0
0
2
0
0

# Problem 2581

In [8]:
N = int(input())
M = int(input())

def prime_num(N, M) : 
    res = []
    for i in range(N, M+1) :
        divcount = 0
        for j in range(1, i) :
            if i % j == 0 :
                divcount += 1 # count 1 ~ num_list[i] 
        if divcount == 1 : # divcount must be 1 if num is answer
            res.append(i)
    return(res)
ans = prime_num(N, M)
if len(ans) == 0 :
    print(-1)
else :
    print(sum(ans))
    print(min(ans))

60
100
620
61

# Problem 2588

풀이 : A, B를 입력받은 후 B의 뒷자리부터 A와 곱하기를 진행하고 마지막에는 총 결과를 출력한다.  
      이때, for문에서는 B의 각원소를 추출하여 A와 곱한 값을 출력한다.

In [5]:
A = int(input())
B = int(input())

for i in range(len(str(B))) :
    print(A*int(str(B)[len(str(B))-(i+1)]))
print(A*B)

472
385
2360
3776
1416
181720

# Problem 2675

문제 :  
문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오. 즉, 첫 번째 문자를 R번 반복하고, 두 번째 문자를 R번 반복하는 식으로 P를 만들면 된다. S에는 QR Code "alphanumeric" 문자만 들어있다.
QR Code "alphanumeric" 문자는 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ\$%*+-./: 이다.

입력 :   
첫째 줄에 테스트 케이스의 개수 T(1 ≤ T ≤ 1,000)가 주어진다. 각 테스트 케이스는 반복 횟수 R(1 ≤ R ≤ 8), 문자열 S가 공백으로 구분되어 주어진다. S의 길이는 적어도 1이며, 20글자를 넘지 않는다. 

출력 :  
각 테스트 케이스에 대해 P를 출력한다.

풀이 :   
We devide number and string in rep, string variable.  
After that, we multiply rep by each alphabet of string using for loop.

In [27]:
T = int(input())

for _ in range(T) : 
    rep, string = map(str, input().split())
    res = ''
    for i in range(len(string)) : 
        res += string[i]*int(rep)
    print(res)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

# Problem 2739

문제 : N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

풀이 : N을 입력받은 뒤, 1 ~ 9 의 숫자를 반복해서 곱해 출력하면 된다.  
  
2 * 1   
2 * 2  
2 * 3  
2 * 4  
2 * 5  
 ...   
2 * 9

In [1]:
N = int(input())
for i in range(1,10) :
    print('%d * %d = %d'%(N, i, N*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# Problem 2741

문제 : 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다. 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

풀이 : for i in range(1, ~)에서 N보다 작기 때문에 ~에 N+1을 삽입하고 순서대로 출력한다.

In [2]:
N = int(input())

for num in range(1, N+1) :
    print(num)

5
1
2
3
4
5

# Problem 2742

In [3]:
N = int(input())

for num in range(0, N) :
    print(N-num)

5
5
4
3
2
1

# Problem 2753

문제 : 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

풀이 : if - else 구문 안에 if - else 구문이 존재하는 복합적인 구조를 통해 윤년을 분리한다.

1. 4의 배수인가 ? 
 1) 100의 배수가 아니거나 400의 배수인가 ? -> 윤년
 2) 이외 -> 윤년X
2. 이외 -> 윤년X

In [2]:
Y = int(input())

if Y % 4 == 0 :
    if (Y % 100 != 0) or (Y % 400 == 0) :
        print("1")
    else :
        print("0")
else :
    print("0")

1999
0

# Problem 2775

In [2]:
import math
T = int(input())
for _ in range(T) : 
    k = int(input())
    n = int(input())
    res = int(math.factorial(k+n)/(math.factorial(n-1)*math.factorial(k+1))) # People in room follows (k+n)C(n-1)
    print(res)

2
1
3
6
2
3
10

# Problem 2839

In [5]:
sugar = int(input())
bag = 0
while sugar >= 0 : # If we get input sugar, to make minimum bags, minus 3 until divide into 5
    if sugar % 5 == 0 :
        print(sugar//5 + bag)
        break
    sugar -= 3
    bag += 1
else :  # While ~ else statement can process error case
    print(-1)

6
2

# Problem 2869

In [48]:
A, B, V = map(int, input().split())
day = (V-B)/(A-B)
if day == int(day) : 
    print(int((V-B)/(A-B)))
else :
    print(int((V-B)/(A-B)) + 1)

5 1 6
2

# Problem 2884

문제 : 

상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

바로 "45분 일찍 알람 설정하기"이다.

이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

풀이 : 
첫번째로, '분'이 45분 기준으로 45분보다 더 크다면 단순히 빼기만 하면된다.  
하지만 45분보다 작은 두번째 경우에는 분에 60을 더하고 45분을 빼줘야 한다.  
하지만 시간이 24시(00시)의 예외 Case가 존재하게 되는데, 이 경우에는 시간에는 하루를 더해주고 -1시간을 적용해주면 된다.

1. M > 45 ? -> M - 45 
2. M < 45 ? 
 1) H == 0 ? -> H + 23, M + 60 -45
 2) H == 0 ? -> H - 1, M + 60 - 45

In [10]:
H, M = map(int, input().split())

if M >= 45 :
    print(H, M - 45)
else :
    if H == 0 :
        print((H + 24) - 1, (M + 60) - 45)
    else :
        print(H - 1, (M + 60) - 45)

0 44
23 59

# Problem 2908

문제 :  
상근이의 동생 상수는 수학을 정말 못한다. 상수는 숫자를 읽는데 문제가 있다. 이렇게 수학을 못하는 상수를 위해서 상근이는 수의 크기를 비교하는 문제를 내주었다. 상근이는 세 자리 수 두 개를 칠판에 써주었다. 그 다음에 크기가 큰 수를 말해보라고 했다.

상수는 수를 다른 사람과 다르게 거꾸로 읽는다. 예를 들어, 734와 893을 칠판에 적었다면, 상수는 이 수를 437과 398로 읽는다. 따라서, 상수는 두 수중 큰 수인 437을 큰 수라고 말할 것이다.

두 수가 주어졌을 때, 상수의 대답을 출력하는 프로그램을 작성하시오.

입력 :   
첫째 줄에 상근이가 칠판에 적은 두 수 A와 B가 주어진다. 두 수는 같지 않은 세 자리 수이며, 0이 포함되어 있지 않다.

출력 :  
첫째 줄에 상수의 대답을 출력한다.

풀이 : 
Sanguen's younger brother read number backward, so we need to backward to see from Sanguen's younger brother's eye.  
After that, we just use if - else statement for comparison.

In [15]:
A, B = map(str, input().split())
A = int(A[::-1]); B = int(B[::-1])

if A > B :
    print(A)
else :
    print(B)

734 893
437

# Problem 2941

문제 :  
예전에는 운영체제에서 크로아티아 알파벳을 입력할 수가 없었다. 따라서, 다음과 같이 크로아티아 알파벳을 변경해서 입력했다.
크로아티아 알파벳 	변경
č 	c=
ć 	c-
dž 	dz=
đ 	d-
lj 	lj
nj 	nj
š 	s=
ž 	z=

예를 들어, ljes=njak은 크로아티아 알파벳 6개(lj, e, š, nj, a, k)로 이루어져 있다. 단어가 주어졌을 때, 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

dž는 무조건 하나의 알파벳으로 쓰이고, d와 ž가 분리된 것으로 보지 않는다. lj와 nj도 마찬가지이다. 위 목록에 없는 알파벳은 한 글자씩 센다.

입력 :  
첫째 줄에 최대 100글자의 단어가 주어진다. 알파벳 소문자와 '-', '='로만 이루어져 있다.

단어는 크로아티아 알파벳으로 이루어져 있다. 문제 설명의 표에 나와있는 알파벳은 변경된 형태로 입력된다.

출력 :  
입력으로 주어진 단어가 몇 개의 크로아티아 알파벳으로 이루어져 있는지 출력한다.

In [12]:
input_str = input()
count = 0; index = 0
dictionary = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']

while index <= len(input_str) :
    if input_str[index:index+3] == 'dz=' : #exception in dictionary checking index:index+3
        count += 1
        index += 3
    elif input_str[index:index+2] in dictionary :
        count += 1
        index += 2
    else : 
        count += 1
        index += 1
print(count-1)

ddz=z=
3